{% if ( theme_config('zen-layout-preloader-display') is same as ('home') and controllerAction is same as ('home') )
    or theme_config('zen-layout-preloader-display') is same as ('all')
    or ( theme_config('zen-layout-preloader-display') is same as ('nohome') and controllerAction is not same as ('home') ) %}

    {% set timeout = theme_config('zen-layout-preloader-timeout')|default(300) %}

    {% set preloaderOptions = {
        animationOut: theme_config('zen-layout-preloader-exit'),
        timeout: timeout
    } %}

    <div class="preloader {{ theme_config('zen-layout-preloader-style') }}"
         data-zen-preloader="true"
         data-zen-preloader-options="{{ preloaderOptions|json_encode }}">
        <div class="preloader-center">
            <div class="preloader-center-absolute">
                {% if theme_config('zen-layout-preloader-style') is same as ('preloader-1') %}
                    <div class="object-round" id="round-one"></div>
                    <div class="object-round" id="round-two"></div>
                    <div class="object-round" id="round-three"></div>
                {% elseif theme_config('zen-layout-preloader-style') is same as ('preloader-2') %}
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>
                    <div class="object-wave"></div>

                {% elseif theme_config('zen-layout-preloader-style') is same as ('preloader-3') %}
                    <div class="object-rotate" id="rotate-one"></div>
                    <div class="object-rotate" id="rotate-two"></div>
                    <div class="object-rotate" id="rotate-three"></div>
                    <div class="object-rotate" id="rotate-four"></div>
                {% elseif theme_config('zen-layout-preloader-style') is same as ('preloader-4') %}
                    <div class="object-border" id="border-four"></div>
                    <div class="object-border" id="border-three"></div>
                    <div class="object-border" id="border-two"></div>
                    <div class="object-border" id="border-one"></div>
                {% elseif theme_config('zen-layout-preloader-style') is same as ('preloader-5') %}
                    <div class="object-logo">
                        {% block layout_header_logo_image %}
                            <picture class="header-logo-picture">
                                {% block layout_header_logo_image_tablet %}
                                    {% if theme_config('sw-logo-tablet') and theme_config('sw-logo-tablet') != theme_config('sw-logo-desktop') %}
                                        <source srcset="{{ theme_config('sw-logo-tablet') |sw_encode_url }}"
                                                media="(min-width: {{ theme_config('breakpoint.md') }}px) and (max-width: {{ theme_config('breakpoint.lg') - 1 }}px)">
                                    {% endif %}
                                {% endblock %}

                                {% block layout_header_logo_image_mobile %}
                                    {% if theme_config('sw-logo-mobile') and theme_config('sw-logo-mobile') != theme_config('sw-logo-desktop') %}
                                        <source srcset="{{ theme_config('sw-logo-mobile') |sw_encode_url }}"
                                                media="(max-width: {{ theme_config('breakpoint.md') - 1 }}px)">
                                    {% endif %}
                                {% endblock %}

                                {% block layout_header_logo_image_default %}
                                    {% if theme_config('sw-logo-desktop') %}
                                        <img src="{{ theme_config('sw-logo-desktop') |sw_encode_url }}"
                                             alt="{{ 'zentheme.layout.preloader.loading'|trans|striptags }} {{ config('core.basicInformation.shopName') }}"
                                             class="img-fluid header-logo-main-img"/>
                                    {% endif %}
                                {% endblock %}
                            </picture>
                        {% endblock %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
