{% sw_extends '@Storefront/storefront/component/product/card/wishlist.html.twig' %}

{% block component_product_wishlist_button %}
    {# ... needed here after sorting #}
    {% set dataBsPlacementAttr = 'data-bs-placement' %}

    <button
        class="product-wishlist-{{ productId }} product-wishlist-action{% if appearance == 'circle' %}-circle{% endif %} product-wishlist-not-added product-wishlist-loading"
        title="{{ 'listing.addToWishlist'|trans|sw_sanitize }}"
        aria-label="{{ 'listing.addToWishlist'|trans|sw_sanitize }}"
        {% if tooltip %}
            data-zen-toggle="tooltip"
            data-bs-placement="{{ tooltipPlacement|default('left') }}"
        {% endif %}
        data-add-to-wishlist="true"
        data-add-to-wishlist-options="{{ addToWishlistOptions|json_encode }}"
    >
        {{ block('component_product_wishlist_icon') }}
    </button>
{% endblock %}