{% sw_extends '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}

{% block layout_header_actions_language_widget_content %}
    {% set languageText = theme_config('zen-top-bar-language-widget-text')|default('standard') %}
    {% set languageFlag = (theme_config('zen-top-bar-language-widget-flag') is not null) ? theme_config('zen-top-bar-language-widget-flag') : true %}

    {% set isoCode = page.header.activeLanguage.translationCode.code|lower|split('-') %}
    {% set language = isoCode[0] %}
    {% set country = isoCode[1] %}

    <div class="languages-menu dropdown">
        <button class="btn dropdown-toggle top-bar-nav-btn"
            type="button"
            id="languagesDropdown-{{ position }}"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">

            {% if languageFlag %}
                <span class="top-bar-list-icon language-flag country-{{ country }} language-{{ language }}"></span>
            {% endif %}

            {% if languageText is same as ('isoCodeShortCountry') %}
                <span class="top-bar-nav-text">{{ country }}</span>
            {% elseif languageText is same as ('isoCodeShort') %}
                <span class="top-bar-nav-text">{{ language|upper }}</span>
            {% elseif languageText is same as ('isoCodeFull') %}
                <span class="top-bar-nav-text">{{ country }}-{{ language|upper }}</span>
            {% else %}
                <span class="top-bar-nav-text">{{ page.header.activeLanguage.name }}</span>
            {% endif %}
        </button>

        {% block layout_header_actions_languages_widget_form_items %}
            <div class="top-bar-list dropdown-menu dropdown-menu-end"
                 aria-labelledby="languagesDropdown-{{ position }}">
                {% for language in page.header.languages %}
                    <div class="top-bar-list-item dropdown-item{% if language.id is same as(page.header.activeLanguage.id) %} item-checked{% endif %}"
                         title="{{ language.translated.name }}">
                        {% block layout_header_actions_languages_widget_form_items_flag %}
                            {% set isoCode = language.translationCode.code|lower|split('-') %}
                            {% set flagLanguage = isoCode[0] %}
                            {% set flagCountry = isoCode[1] %}

                            <label class="top-bar-list-label"
                                   for="{{ position }}-{{ language.id }}">
                                <input id="{{ position }}-{{ language.id }}"
                                       class="top-bar-list-radio"
                                       value="{{ language.id }}"
                                       name="languageId"
                                       type="radio"
                                    {% if language.id is same as(page.header.activeLanguage.id) %} checked{% endif %}>

                                {% if languageFlag %}
                                    <span class="top-bar-list-icon language-flag country-{{ flagCountry }} language-{{ flagLanguage }}"></span>
                                {% endif %}

                                {% if languageText is same as ('isoCodeShortCountry') %}
                                    {{ flagCountry }}
                                {% elseif languageText is same as ('isoCodeShort') %}
                                    {{ flagLanguage|upper }}
                                {% elseif languageText is same as ('isoCodeFull') %}
                                    {{ flagCountry }}-{{ flagLanguage|upper }}
                                {% else %}
                                    {{ language.name }}
                                {% endif %}
                            </label>
                        {% endblock %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>

    <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}">

    {% for key, value in app.request.attributes.get('_route_params') %}
        <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
    {% endfor %}
{% endblock %}
