{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_container %}
    <div class="search-suggest-container">
        <ul class="search-suggest-list">
            {{ block('layout_search_suggest_results') }}
            {{ block('layout_search_suggest_result_total') }}
        </ul>
    </div>
{% endblock %}

{% block layout_search_suggest_result_total_link %}
    <div class="col">
        {# ... @zenit - added classes `btn btn-primary btn-sm` #}
        <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}"
           title="{{ 'header.searchAllResults'|trans|striptags }}"
           class="search-suggest-total-link btn btn-primary btn-sm">
            {# ... @zenit - changed arrow icon and order #}
            {{ 'header.searchAllResults'|trans|sw_sanitize }}
            {% sw_icon 'arrow-right' style { size: 'xs' } %}
        </a>
    </div>
{% endblock %}

