{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget %}
    {# ... @zenit - fallbacks for older child-themes without these configs #}
    {% set productDetailRatingPosition = theme_config('zen-product-details-rating-position')|default('default') %}
    {% set productDetailRatingMode = theme_config('zen-product-details-rating-mode')|default('default') %}
    {% set productDetailWishlistPosition = theme_config('zen-product-details-wishlist-position')|default('default') %}
    {% set mobileDefaultTabMode = (theme_config('zen-product-detail-tabs-mode-mobile') is same as ('standard')) ? true : false %}

    {% if theme_config('zen-product-details-features-position') is same as ('top') %}
        {% sw_include '@zenitPlatformGravity/storefront/component/product/zen-product-features.html.twig' %}
    {% endif %}

    {{ parent() }}

    {% if theme_config('zen-product-details-features-position') is same as ('bottom') %}
        {% sw_include '@zenitPlatformGravity/storefront/component/product/zen-product-features.html.twig' %}
    {% endif %}
{% endblock %}

{% block buy_widget_reviews %}
    {% if productDetailRatingPosition is same as ('default') %}
        {% if productDetailRatingMode is same as ('placeholder') %}
            {% if config('core.listing.showReview') %}

                {% if remoteClickOptions is not defined %}
                    {% set remoteClickOptions = {
                        selector: '#review-tab-' ~ product.id,
                        scrollToElement: true
                    } %}
                {% endif %}

                {% if reviewTabHref is not defined %}
                    {% set reviewTabHref = '#review-tab-' ~ product.id ~ '-pane' %}
                {% endif %}

                <div class="product-detail-reviews">
                    {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                        points: product.ratingAverage,
                        style: 'text-primary'
                    } %}
                    <a
                        data-bs-toggle="tab"
                        class="product-detail-reviews-link"
                        {% if mobileDefaultTabMode %}data-off-canvas-tabs="true"{% endif %}
                        data-remote-click="true"
                        {# ludtwig-ignore html-string-quotation #}
                        data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                        href="{{ reviewTabHref }}"
                        aria-controls="review-tab-pane"
                    >
                        {% if product.ratingAverage > 0 and totalReviews > 0 %}
                            {{ totalReviews }}
                            {{ 'detail.reviewLinkText'|trans({'%count%': totalReviews})|sw_sanitize }}
                        {% else %}
                            {{ 'zentheme.detail.reviewLinkText'|trans }}
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block buy_widget_wishlist %}
    {% if productDetailWishlistPosition is same as ('default') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block buy_widget_ordernumber_container %}
    {# stock #}
    {% block zen_buy_widget_stock_container %}
        {% if theme_config('zen-product-details-stock') and page.product.stock %}
            <div class="product-detail-container product-detail-stock-container">
                {% block zen_buy_widget_stock_label %}
                    <span class="product-detail-label product-detail-stock-label">
                        {{ 'zentheme.detail.stockLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_stock %}
                    <span class="product-detail-stock">
                        {% if page.product.stock <= 0 %}
                            0
                        {% else %}
                            {{ page.product.stock }}
                        {% endif %}
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# isCloseout #}
    {% block zen_buy_widget_closeout_container %}
        {% if theme_config('zen-product-details-closeout') and page.product.isCloseout %}
            <div class="product-detail-container product-detail-closeout-container">
                {% block zen_buy_widget_closeout_label %}
                    <span class="product-detail-label product-detail-closeout-label">
                        {{ 'zentheme.detail.isCloseoutLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# ordernumber #}
    {% if theme_config('zen-product-details-ordernumber') and page.product.productNumber %}
        <div class="product-detail-container product-detail-ordernumber-container">
            {% block buy_widget_ordernumber_label %}
                <span class="product-detail-label product-detail-ordernumber-label">
                    {{ 'detail.ordernumberLabel'|trans|sw_sanitize }}
                </span>
            {% endblock %}

            {% block buy_widget_ordernumber %}
                <meta itemprop="productID"
                      content="{{ page.product.id }}">
                <span class="product-detail-ordernumber"
                      itemprop="sku">
                        {{ page.product.productNumber }}
                </span>
            {% endblock %}
        </div>
    {% endif %}

    {# ean #}
    {% block zen_buy_widget_ean_container %}
        {% if theme_config('zen-product-details-ean') and page.product.ean %}
            <div class="product-detail-container product-detail-ean-container">
                {% block zen_buy_widget_ean_label %}
                    <span class="product-detail-label product-detail-ean-label">
                        {{ 'zentheme.detail.eanLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_ean %}
                    <span class="product-detail-ean">
                        {{ page.product.ean }}
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# manufacturer name #}
    {% block zen_buy_widget_manufacturer_name_container %}
        {% if theme_config('zen-product-details-manufacturer-name') and page.product.manufacturer.name %}
            <div class="product-detail-container product-detail-manufacturer-name-container">
                {% block zen_buy_widget_manufacturer_name_label %}
                    <span class="product-detail-label product-detail-manufacturer-name-label">
                        {{ 'zentheme.detail.manufacturerNameLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_manufacturer_name %}
                    <span class="product-detail-manufacturer-name">
                        {% if theme_config('zen-product-details-manufacturer-link') and page.product.manufacturer.link %}
                            <a href="{{ page.product.manufacturer.link }}" title="{{ page.product.manufacturer.name }}" target="_blank" rel="noopener">
                                {{ page.product.manufacturer.name }}
                            </a>
                        {% else %}
                            {{ page.product.manufacturer.name }}
                        {% endif %}
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# manufacturer number #}
    {% block zen_buy_widget_manufacturer_number_container %}
        {% if theme_config('zen-product-details-manufacturer-number') and page.product.manufacturerNumber %}
            <div class="product-detail-container product-detail-manufacturer-number-container">
                {% block zen_buy_widget_manufacturer_number_label %}
                    <span class="product-detail-label product-detail-manufacturer-number-label">
                        {{ 'zentheme.detail.manufacturerNumberLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_manufacturer_number %}
                    <span class="product-detail-manufacturer-number">
                        {{ page.product.manufacturerNumber }}
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# length #}
    {% block zen_buy_widget_length_container %}
        {% if theme_config('zen-product-details-length') and page.product.length %}
            <div class="product-detail-container product-detail-length-container">
                {% block zen_buy_widget_length_label %}
                    <span class="product-detail-label product-detail-length-label">
                        {{ 'zentheme.detail.lengthLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_length %}
                    <span class="product-detail-length">
                        {{ page.product.length }} mm
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# width #}
    {% block zen_buy_widget_width_container %}
        {% if theme_config('zen-product-details-width') and page.product.width %}
            <div class="product-detail-container product-detail-width-container">
                {% block zen_buy_widget_width_label %}
                    <span class="product-detail-label product-detail-width-label">
                        {{ 'zentheme.detail.widthLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_width %}
                    <span class="product-detail-width">
                        {{ page.product.width }} mm
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# height #}
    {% block zen_buy_widget_height_container %}
        {% if theme_config('zen-product-details-height') and page.product.height %}
            <div class="product-detail-container product-detail-height-container">
                {% block zen_buy_widget_height_label %}
                    <span class="product-detail-label product-detail-height-label">
                        {{ 'zentheme.detail.heightLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_height %}
                    <span class="product-detail-height">
                        {{ page.product.height }} mm
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# weight #}
    {% block zen_buy_widget_weight_container %}
        {% if theme_config('zen-product-details-weight') and page.product.weight %}
            <div class="product-detail-container product-detail-weight-container">
                {% block zen_buy_widget_weight_label %}
                    <span class="product-detail-label product-detail-weight-label">
                        {{ 'zentheme.detail.weightLabel'|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block zen_buy_widget_weight %}
                    <span class="product-detail-weight">
                        {{ page.product.weight }} kg
                    </span>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}
