{% sw_extends '@Storefront/storefront/page/content/detail.html.twig' %}

{% block page_content_sections_inner %}
    <div class="cms-sections">
        {% for section in cmsPage.sections %}
            {% set sectionClasses = [section.cssClass, 'pos-' ~ section.position, 'cms-section-' ~ section.type] %}

            {% if section.visibility is null %}
                {% set visibility = {
                    mobile: true,
                    tablet: true,
                    desktop: true
                } %}
            {% else %}
                {% set visibility = section.visibility %}
            {% endif %}

            {% if not visibility.mobile %}
                {% set sectionClasses = ['hidden-mobile']|merge(sectionClasses) %}
            {% endif %}
            {% if not visibility.tablet %}
                {% set sectionClasses = ['hidden-tablet']|merge(sectionClasses) %}
            {% endif %}
            {% if not visibility.desktop %}
                {% set sectionClasses = ['hidden-desktop']|merge(sectionClasses) %}
            {% endif %}

            {# ... @zenit - add class if product page specific elements are used #}
            {% for element in section.blocks.elements %}
                {% if 'gallery' in element.type and 'buybox' in element.type or element.type === 'product-heading' %}
                    {% set sectionClasses = ['has-el-gallery-buybox']|merge(sectionClasses) %}
                {% endif %}

                {% if 'product-description-reviews' in element.type %}
                    {% set sectionClasses = ['has-el-product-description']|merge(sectionClasses) %}
                {% endif %}

                {% if 'cross-selling' in element.type %}
                    {% set sectionClasses = ['has-el-cross-selling']|merge(sectionClasses) %}
                {% endif %}
            {% endfor %}

            {# ... @zenit - if gallery-buybox and description or cross-selling are part of a single section, remove all classes, because separate styling is not possible #}
            {% if 'has-el-gallery-buybox' in sectionClasses and ('has-el-product-description' in sectionClasses or 'has-el-cross-selling' in sectionClasses) %}
                {% set sectionClasses = sectionClasses|filter(class => class not in ['has-el-gallery-buybox', 'has-el-product-description', 'has-el-cross-selling']) %}
            {% endif %}

            {# ... @zenit - calculate the cols for scroll animation #}
            {% set breakpoints = ['XS', 'SM', 'MD', 'LG', 'XL', 'XXL'] %}

            {% set defaultConfigs = {
                XS: 'zen-product-listing-columns-xs',
                SM: 'zen-product-listing-columns-sm',
                MD: 'zen-product-listing-columns-md',
                LG: 'zen-product-listing-columns-lg',
                XL: 'zen-product-listing-columns-xl',
                XXL: 'zen-product-listing-columns-xl'
            } %}

            {% set sidebarConfigs = {
                XS: 'zen-product-listing-columns-sidebar-xs',
                SM: 'zen-product-listing-columns-sidebar-sm',
                MD: 'zen-product-listing-columns-sidebar-md',
                LG: 'zen-product-listing-columns-sidebar-lg',
                XL: 'zen-product-listing-columns-sidebar-xl',
                XXL: 'zen-product-listing-columns-sidebar-xl'
            } %}

            {% set listingCols = {} %}

            {% for breakpoint in breakpoints %}
                {% set configKey = section and section.type == 'sidebar' ? sidebarConfigs[breakpoint] : defaultConfigs[breakpoint] %}
                {% set customField = coreCustomFields.category["zenit_gravity_product_listing_columns_" ~ breakpoint|lower] %}

                {% if customField is empty or customField is same as 'inherit' %}
                    {% set listingCols = listingCols|merge({(breakpoint): theme_config(configKey)}) %}
                {% else %}
                    {% set listingCols = listingCols|merge({(breakpoint): customField}) %}
                {% endif %}
            {% endfor %}

            {# ... @zenit - content animation js options #}
            {% set scrollAnimationOptions = {
                animationDuration: theme_config('zen-layout-scroll-animation-duration') ? theme_config('zen-layout-scroll-animation-duration') ~ 's' : '1s',
                animationDelay: theme_config('zen-layout-scroll-animation-delay') ? theme_config('zen-layout-scroll-animation-delay') ~ 's' : '0.25s',
                cols: listingCols
            } %}

            {# ... @zenit - check for hero section #}
            {% if loop.index is same as (1) and isHeroSection is same as (true) %}

                {# ... @zenit - section classes #}
                {% set sectionClasses = ['cms-section-hero']|merge(sectionClasses) %}

                {# ... @zenit - set section bg color #}
                {% if zenCustomFields.category.zenit_gravity_category_image_color is empty %}
                    {% set sectionBgColor = section.backgroundColor ? section.backgroundColor : 'transparent' %}
                {% else %}
                    {% set sectionBgColor = zenCustomFields.category.zenit_gravity_category_image_color %}
                {% endif %}

                {# ... @zenit - set image variables #}
                {% set sectionBgImg = section.backgroundMedia|sw_encode_media_url %}
                {% set categoryMedia = page.header.navigation.active.media %}

                {% if hasHeroImage %}
                    {% set sectionClasses = ['category-image']|merge(sectionClasses) %}
                    {% set sectionClasses = ['bg-image']|merge(sectionClasses) %}
                {% endif %}

                {# ... @zenit - category overlay class #}
                {% if sectionCategoryOverlay %}
                    {% set sectionClasses = ['cms-section-overlay']|merge(sectionClasses) %}
                {% endif %}

                {# ... @zenit - set section bg image mode #}
                {% set categoryImageMode = zenCustomFields.category.zenit_gravity_category_image_mode %}

                {% if categoryImageMode is empty or categoryImageMode is same as ('inherit') %}
                    {% if section.backgroundMediaMode %}
                        {% set sectionBgImgMode = section.backgroundMediaMode %}
                    {% else %}
                        {% set sectionBgImgMode = 'cover' %}
                    {% endif %}
                {% else %}
                    {% set sectionBgImgMode = categoryImageMode %}
                {% endif %}

                {# ... @zenit - set opacity style #}
                {% set categoryImageOpacity = zenCustomFields.category.zenit_gravity_category_image_opacity|replace({'%': ''}) %}
                {% if categoryImageOpacity is empty or categoryImageOpacity is same as ('inherit') %}
                    {% set sectionBgOpacity = theme_config("zen-category-image-opacity")|number_format %}
                {% else %}
                    {% set sectionBgOpacity = categoryImageOpacity|number_format %}
                {% endif %}

                {# ... @zenit - set attachment style #}
                {% if zenCustomFields.category.zenit_gravity_category_image_attachment is empty or zenCustomFields.category.zenit_gravity_category_image_attachment is same as ('inherit') %}
                    {% set sectionBgAttachment = (theme_config("zen-category-image-attachment") == 'fixed') ? theme_config("zen-category-image-attachment") : '' %}
                {% else %}
                    {% set sectionBgAttachment = (zenCustomFields.category.zenit_gravity_category_image_attachment == 'fixed') ? zenCustomFields.category.zenit_gravity_category_image_attachment : '' %}
                {% endif %}

                {# ... @zenit - set position style #}
                {% if zenCustomFields.category.zenit_gravity_category_image_position is empty or zenCustomFields.category.zenit_gravity_category_image_position is same as ('inherit') %}
                    {% set sectionBgPosition = theme_config("zen-category-image-position") %}
                {% else %}
                    {% set sectionBgPosition = zenCustomFields.category.zenit_gravity_category_image_position %}
                {% endif %}

                {# ... @zenit - bg color class #}
                {% if sectionBgColor %}
                    {% set sectionClasses = ['bg-color']|merge(sectionClasses) %}
                {% endif %}

                {# ... @zenit - contrast class #}
                {% if zenCustomFields.category.zenit_gravity_category_image_contrast is empty or zenCustomFields.category.zenit_gravity_category_image_contrast is same as ('inherit') %}
                    {% set sectionClasses = [theme_config("zen-category-image-contrast")]|merge(sectionClasses) %}
                {% else %}
                    {% set sectionClasses = [zenCustomFields.category.zenit_gravity_category_image_contrast]|merge(sectionClasses) %}
                {% endif %}

                {# ... @zenit - opacity class #}
                {% if sectionBgOpacity < 100 and sectionBgColor %}
                    {% set sectionClasses = ['has-opacity']|merge(sectionClasses) %}
                {% endif %}

                {# ludtwig-ignore twig-hash-key-no-quotes #}
                {% set layout = section.sizingMode ? section.sizingMode|replace({'_': '-'}) : 'container' %}

                {% block zen_page_content_section_category_image %}
                    <div class="cms-section {{ layout }} {{ sectionClasses|join(' ') }}"
                         style="{% if sectionBgColor %}background-color: {{ sectionBgColor }};{% endif %}{% if sectionBgImg %}background-image: url('{{ sectionBgImg }}');background-size: {{ section.backgroundMediaMode }};{% endif %}{% if sectionBgAttachment %}background-attachment: {{ sectionBgAttachment }};{% endif %}{% if sectionBgPosition %}background-position: {{ sectionBgPosition }};{% endif %}"
                         data-zen-scroll-animation="true"
                         data-zen-scroll-animation-options="{{ scrollAnimationOptions|json_encode }}"
                    >

                        {% if hasHeroImage and categoryMedia %}
                            {% set sizes = {
                                xs: (theme_config('breakpoint.sm') - 1) ~'px',
                                sm: (theme_config('breakpoint.md') - 1) ~'px',
                                md: (theme_config('breakpoint.lg') - 1) ~'px',
                                lg: (theme_config('breakpoint.xl') - 1) ~'px'
                            } %}

                            {# set image size for largest viewport depending on the cms block sizing mode (boxed or full-width) #}
                            {% if layout == 'full-width' or sectionBgAttachment == 'fixed' %}
                                {% set container = 100 %}
                                {% set sizes = sizes|merge({ xl: container ~'vw'}) %}
                            {% else %}
                                {% set container = theme_config("zen-layout-container-width")|default(1400) %}
                                {% set sizes = sizes|merge({ xl: container ~'px'}) %}
                            {% endif %}

                            {% set attributes = {
                                class: 'cms-section-bg-image hero-image',
                                style: "position: #{sectionBgAttachment ? sectionBgAttachment : 'absolute'}; inset: 0; object-position: #{sectionBgPosition}; object-fit: #{sectionBgImgMode};",
                                'data-object-fit': "#{sectionBgImgMode}"
                            } %}

                            <div class="cms-section-bg-image-container">
                                {% if 'video' not in categoryMedia.mimeType %}
                                    {% sw_thumbnails 'category-media' with {
                                        media: categoryMedia,
                                        sizes: sizes,
                                        attributes: attributes
                                    } %}
                                {% else %}
                                    {% sw_include '@Storefront/storefront/utilities/video.html.twig' with {
                                        media: categoryMedia,
                                        attributes: {
                                            autoplay: true,
                                            loop: true,
                                            muted: true
                                        }|merge(attributes)
                                    } %}
                                {% endif %}
                            </div>
                        {% endif %}


                        {% if sectionBgOpacity < 100 and sectionBgColor %}
                            <div class="cms-section-bg-color-overlay"
                                 style="background-color: {{ sectionBgColor }}; opacity: {{(100 - sectionBgOpacity|number_format) / 100 }};">
                            </div>
                        {% endif %}

                        {% sw_include '@Storefront/storefront/section/cms-section-' ~ section.type ~ '.html.twig' %}
                    </div>
                {% endblock %}

                {# ... @zenit - add default breadcrumbs, after first sections if it's an hero section  #}
                {% if defaultBreadcrumbs %}
                    {# ... @zenit - check if there is any breadcrumb to show #}
                    {% if sw_breadcrumb_full(page.header.navigation.active, context.context) %}
                        <div class="breadcrumb-container">
                            <div class="container">
                                <div class="breadcrumb-wrap cms-breadcrumb justify-content-{{ theme_config('zen-breadcrumbs-align')|replace({'flex-': ''}) }}">
                                    {% block cms_breadcrumb %}
                                        {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                                            navigationTree: page.header.navigation.tree,
                                            category: page.header.navigation.active
                                        } only %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                {% set sectionBgColor = section.backgroundColor %}
                {% set sectionBgImg = section.backgroundMedia|sw_encode_media_url %}
                {% set sectionBgImgMode = section.backgroundMediaMode %}

                {% if sectionBgImg %}
                    {% set sectionClasses = ['bg-image']|merge(sectionClasses) %}
                {% endif %}

                {% if sectionBgColor %}
                    {% set sectionClasses = ['bg-color']|merge(sectionClasses) %}
                {% endif %}

                {# ... @zenit - category overlay class #}
                {% if loop.index is same as (1) and sectionCategoryOverlay is same as (true) %}
                    {% if sectionCategoryOverlay %}
                        {% set sectionClasses = ['cms-section-overlay']|merge(sectionClasses) %}
                    {% endif %}
                {% endif %}

                {# ludtwig-ignore twig-hash-key-no-quotes #}
                {% set layout = section.sizingMode ? section.sizingMode|replace({'_': '-'}) : 'container' %}

                {% block page_content_section %}
                    <div class="cms-section {{ layout }} {{ sectionClasses|join(' ') }}"
                         style="{% if sectionBgColor %}background-color: {{ sectionBgColor }};{% endif %}{% if sectionBgImg %}background-image: url('{{ sectionBgImg }}');background-size: {{ section.backgroundMediaMode }};{% endif %}"
                         data-zen-scroll-animation="true"
                         data-zen-scroll-animation-options="{{ scrollAnimationOptions|json_encode }}"
                    >

                        {% sw_include '@Storefront/storefront/section/cms-section-' ~ section.type ~ '.html.twig' %}
                    </div>
                {% endblock %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
