{% sw_extends '@Storefront/storefront/layout/navigation/categories.html.twig' %}

{% block layout_navigation_categories %}
    {% set navigationMaxDepth = 3 %}

    {% if not level %}
        {% set level = 0 %}
    {% endif %}
    {% set activeId = page.header.navigation.active.id %}

    {% set activePath = page.header.navigation.active.path %}
    {% if level !== 0 %}
        <div class="navigation-flyout-categories-levels">
    {% endif %}
    <ul class="{% if level == 0 %}row {% endif %}navigation-flyout-categories is-level-{{ level }}">
        {% for treeItem in navigationTree %}
            {% set id = treeItem.category.id %}
            {% set name = treeItem.category.translated.name %}
            {% set link = category_url(treeItem.category) %}

            {# For menu category icon #}
            {% set customMediaImage = treeItem.category.customFields.armbr_flyout_teaser_image %}
            {% set mediaCollection = customMediaImage? searchMedia([customMediaImage], context.context) : '' %}
            {% set imageMedia = customMediaImage? mediaCollection.get(customMediaImage) : '' %}
            {% set categoryMedia = customMediaImage? imageMedia : treeItem.category.media %}

            {% block layout_navigation_categories_item %}
                <li class="{% if level == 0 %}{% if navigationMedia %}col-4 {% else %}col-3 {% endif %}{% endif %}navigation-flyout-col child-level-{{ level }} {% if loop.index == 1 %}selected{% endif %}">
                    {% block layout_navigation_categories_item_link %}
                        {% if treeItem.category.type == 'folder' %}
                            <div class="nav-item nav-link navigation-flyout-link is-level-{{ level }}"
                                 title="{{ name }}">
                                <span itemprop="name" data-image="{% if categoryMedia %}{{ categoryMedia.url }}{% endif %}" >{{ name }}</span>
                            </div>
                        {% else %}
                            <a class="nav-item nav-link navigation-flyout-link is-level-{{ level }}{% if id == activeId or id in activePath %} active{% endif %}"
                               href="{{ link }}"
                               itemprop="url"
                               {% if category_linknewtab(treeItem.category) %}target="_blank"
                               {% if treeItem.category.linkType == "external" %}rel="noopener noreferrer"{% endif %}
                                    {% endif %}
                               title="{{ name }}"
                               data-image="{% if categoryMedia %}{{ categoryMedia.url }}{% endif %}"
                            >
                                <span itemprop="name">{{ name }}</span>
                                {% if treeItem.children|length > 0 %}
                                    <span class="main-navigation__has-child">
                                            {% sw_icon 'arrow-head-right' %}
                                        </span>
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endblock %}

                    {% block layout_navigation_categories_recoursion %}
                        {% if level < navigationMaxDepth and treeItem.children|length > 0 %}
                            {% sw_include '@Storefront/storefront/layout/navigation/categories.html.twig' with {
                                navigationTree: treeItem.children,
                                level: level + 1,
                                page: page
                            } only %}
                        {% endif %}
                    {% endblock %}
                </li>
            {% endblock %}
        {% endfor %}
    </ul>
    {% if level !== 0 %}
        </div>
    {% endif %}
{% endblock %}
